<div class="micro-frontend-util-pane">
  <h2>Current CMS Page Details</h2>
  <div class="page-details">
    <div class="detail-group">
      <label>Page Name:</label>
      <div class="detail-value">{{ currentPage.name }}</div>
    </div>
    
    <div class="detail-group">
      <label>Page ID:</label>
      <div class="detail-value">{{ currentPage.id }}</div>
    </div>
    
    <div class="detail-group">
      <label>Title:</label>
      <div class="detail-value">{{ currentPage.title }}</div>
    </div>
    
    <div class="detail-group">
      <label>Body Content:</label>
      <div class="detail-value content-preview">{{ currentPage.bodyContent }}</div>
    </div>
  </div>
</div>